body {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: #f15b31;
    font-weight: 600;
    font-size: 18px;
}

h1 {
    color: #0d2c40;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

h2 {
    color: #0d2c40;
    font-weight: 600;
    font-size: 20px;
}

p {
    font-family: "Droid Serif";
    line-height: 26px;
    font-size: 18px;
}

header {
    background-color: #F15B31;
    color: #FFFFFF;
    padding: 30px 20px 30px 20px;
}

footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
    align-self: flex-end;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    white-space: nowrap;

}

main {
    width: 850px;
    margin: 100px auto;
    flex: 1 0 auto;
}

img {
    margin: 40px 8px 0 8px;
}

nav {
    background-color: #00A6B3;
    color: #FFFFFF;
    padding: 20px 0 20px 0;
}

h1,
h2,
a,
span {
    text-transform: uppercase;
    font-family: "Raleway";
    letter-spacing: 1px;
}

span {
    color: #f15b31;
    font-weight: 800;
}

address {
    padding-bottom: 10px;
}

.nav {
    text-decoration: none;
    color: #f15b31;
    font-weight: 600;
    font-size: 18px;
    margin: 0 20px;
}

.copyright {
    font-family: Raleway;
    float: left;
}

.message {
    float: right;
}


.clearfix::after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.name {
    color: #F15B31;
    font-weight: 700;
}

a:hover {
    background-color: white;
    border-bottom: 2px solid transparent;
}

#game-board {
    cursor: pointer;
}